
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    width: 100%;
}   
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color: #333;
}
h1,h2,h3{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: inherit;
    
}
ul{
    margin: 0;
}
input{
    outline:none;
}
:root{
    --vert:#7F9C7E;
    --noir:#333;
    --gris:#F7F7F7;
}


/*class*/
.relative{
    position: relative;
}
.abs{
    position: absolute;
    top: 0;
    left: 0;
}
.text{
    font-size: 12px;
    color: var(--noir);
}
.text-line{
    color: var(--vert);
    position: relative;
}
.line{
    background: var(--vert);
    opacity: 0.2;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: -7px;
}
.ta{
    text-align: center;
}
.te{
    text-align: end;
}
.ts{
    text-align: start;
}
.title{
    font-weight: 800;
    font-family: 'Bodoni Moda', serif;
    font-size: 38px;
    --noir:#333;
}
.button{
    padding: 20px 40px;
    background-color: white;
    color: var(--noir);
    font-weight: 700;
    font-size: 12px;
    width: fit-content;
    border-radius: 60px;
    cursor: pointer;
}
.t2{
    font-size: 34px;
}
.up{
    text-transform: uppercase;
}

/*form*/
.form{
    padding: 25px;
    background-color: transparent;
    border: 0.5px solid #FFFFFF;
    border-radius: 50px;
    color: white;
    outline: none;
}
.form::placeholder{
    font-size: 12px;
    color: white;
}
.form-black{
    color: #333;
    border: 0.5px solid #333;
}
.form-black::placeholder{
    color: var(--noir);
}
.bodoni{
    font-family: 'Bodoni Moda', serif;
}
.b-400{
    font-weight: 400;
}
.b-500{
    font-weight: 500;
}
.b-600{
    font-weight: 600;
}
.b-700{
    font-weight: 700;
}
.b-800{
    font-weight: 800;
}
.b-900{
    font-weight: 900;
}
.ft-20{
    font-size: 20px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.d-flex-c{
    display: flex;
    flex-direction: column;
}
.nw{
    flex-wrap: nowrap;
}
.container{
    width: calc(100% - (100% / 14) * 2);
    margin: 0 auto;
}
.align-c{
    align-items: center;
}
.align-e{
    align-items: flex-end;
}
.jst-c{
    justify-content: center;
}
.jst-start{
    justify-content: flex-start;
}
.jst-end{
    justify-content: flex-end;
}

/*background*/
.bg-c{
    background-position: center!important;
    background-size: cover!important;
}
.bg-v{
    background-color: var(--vert);
}
.bg-o{
    background-color: #FBBB7D;
}
.bg-g{
    background-color: var(--gris);
}
.bg-w{
    background-color: white;
}

/*color*/
.c-white{
    color: #fff;
}
.c-vert{
    color: var(--vert);
}
/*Margin*/

.ma{
    margin: 0 auto;
}

.mb{
    margin-bottom: 1rem!important;
}
.mb-2{
    margin-bottom: 2rem!important;
}
.mb-3{
    margin-bottom: 3rem!important;
}
.mb-4{
    margin-bottom: 4rem!important;
}
.mb-8{
    margin-bottom: 8rem!important;
}

.my-8{
    margin: 8rem 0!important;
}
.my{
    margin: 1rem 0!important;
}
.my-2{
    margin: 2rem 0!important;
}
.mt-2{
    margin-top: 2rem!important;
}
.mt-4{
    margin-top: 4rem!important;
}
.mt-8{
    margin-top: 8rem!important;
}
.mt-6{
    margin-top: 6rem!important;
}
.mt-7{
    margin-top: 7rem!important;
}

/*padding*/
.p-2{
    padding: 2rem!important;
}
.p-1{
    padding: 1rem!important;
}

.btn-v{
    color: white;
    background-color:var(--vert);
}
.btn-r{
    background-color: red;
    color: white;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

/*border*/
.bdr-10{
    border-radius: 10px;
}
.bdr-15{
    border-radius: 15px;
}
.bdr-20{
    border-radius: 20px;
}
.bdr-30{
    border-radius: 30px;
}

/*width*/
.col-3{
    width:calc(3 * (100% / 12) - 10px);
}
.col-4{
    width:calc(4 * (100% / 12) - 10px);
}
.col-5{
    width:calc(5 * (100% / 12) - 10px);
}
.col-6{
    width:calc(6 * (100% / 12) - 10px);
}
.col-7{
    width:calc(7 * (100% / 12) - 10px);
}
.col-8{
    width:calc(8  * (100% / 12) - 10px);
}

.col-9{
    width:calc(9 * (100% / 12) - 10px);
}
.col-10{
    width:calc(10 * (100% / 12) - 10px);
}

.col-12{
    width: 100%;
}
.ptn{
    cursor: pointer;
}

/*Theme*/

/*Header*/
header{
    z-index: 30;
}
.menu{
    height: 135px;
    justify-content: space-between;

}
.logo{
    font-size: 40px;
}
#index .logo{
    color: white;
}

.menuP{
    font-size: 14px;
    min-width: 50%;
}

.menuP a{
    margin: 30px;
    padding: 5px;
    display: block;
}
#index .menuP a:first-child{
    color: white;
}

/*Banner*/

.banner{
    width: calc(8 * (100% / 14));
    margin-top: -135px;
    z-index: -1;
    background:radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%), url('../Img/banner.jpg') no-repeat 0;
    border-bottom-right-radius: 250px;
    
}
.banner-contain{
    margin-top: 70px;
    padding: 135px 0;
    width: 100%;
    max-width: 500px;
}
.banner h1{
    margin: 0;
    font-size: 85px;
    line-height: 90px;
}

/*nos engagement*/

.ne .block{
    background-color: #F7F7F7;
    padding: 4rem 1rem;
}
.ne p {
    max-width: 800px;
}

/*Nos marques */

.marqueI{

}
.img-c1{
    width: 100%;
    height: 600px;
}
.img-c2{
    width: 100%;
    height: 300px;
}
.marqueI .col-3{
    width:calc(3 * (100% / 12) - 0.8rem);
}


/*footer*/

.footer{
    background-color: var(--vert);
    padding: 4rem 1rem;
}
.footer svg{
    margin-right: 20px;
}
.footer .button{
    color: var(--vert);
    font-size: 14px;
}
.footer .abs{
    background: #FFFFFF;
    opacity: 0.1;
    width: 300px;
    height: 300px;
    border-radius: 600px;
    top: -40px;
    left: -30px;
}

/*les marques*/
.article{
    background: var(--gris);
    padding: 20px;
    width:calc(3 * (100% / 12) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 00.75rem;
}
.article h2{
    font-size: 32px;
    font-weight: 800;
    font-family: 'Bodoni Moda', serif;
    margin: 0;
}
.article img{
    height: 250px;
    width: auto;
}
.article .float{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*Recommandation*/

.reco{
    background-color: var(--gris);
    z-index: 1;
    margin: 0 20px;
}
.reco div{
    display: flex;
    padding: 40px 0;
    margin: -20px;
}



/*COntent*/
.content h1{
    font-family: 'Bodoni Moda', serif;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    color: var(--vert);
    margin-bottom: 1rem;
}
.content p{
    font-size: 12px;
}


/*Nos engagements*/
.engagements .blur{
    padding: 40px 20px;
    background: rgba(131, 131, 131, 0.4);
    backdrop-filter: blur(7px);
    height: fit-content;
}

.eng-pre{
     display: flex;
     align-items: flex-end;
}
.eng-pre .ythgd{
    font-size: 144px;
    font-weight: 700;
}
.eng-pre .iopml{
    margin-top: 40px;
}
.eng-pre .bar{
    width: 6px;
    background-color: var(--vert);
    margin: 10px 10px 0 20px;
    flex-shrink: 0;
}
.documentation .eng-pre:nth-child(2n+1){
    justify-content: flex-end;
}
.documentation .eng-pre:nth-child(2n+1) .ythgd{
    color: #8A8A8A;;
}
.documentation .eng-pre:nth-child(2n+1) .bar{
    background-color: #8A8A8A;;
}
.eng .col-12{
    justify-content: flex-end;
}
.eng .col-12:nth-child(2n+1){
    justify-content: flex-start;
}
.eng .col-12 h1{
    text-align: end;
}
.eng .col-12:nth-child(2n+1) h1{
    text-align: start;
}





/*FAQ*/
.ques .titre{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}
.ques .description{
    margin-top: -20px;
}
.gn.description{
    background-color:#8A8A8A;
    color: white!important;
}


/*Backend*/

.backend{
    border-radius: 30px;
    margin-top: 30px;
    background-color: var(--gris);
}
.backend input[type="file"]{
    display: none;
}

.backend .uploadPictureContainer{
    width:calc(33% - 20px) ;
    margin: 10px;
}
.backend img{
    height: 200px;
    width: auto;
}
